.bg {
  // background-image:  ;
  background-image: -webkit-linear-gradient( 270deg,rgba(255, 102, 0, 0.623) 30%, transparent), url('../../../assets/background/bg_four.jpeg');
  background-image: -o-linear-gradient( 270deg,rgba(255, 102, 0, 0.623) 30%, transparent), url('../../../assets/background/bg_four.jpeg');
  background-image: -moz-linear-gradient( 270deg,rgba(255, 102, 0, 0.623) 30%, transparent), url('../../../assets/background/bg_four.jpeg');
  background-image: linear-gradient( 270deg,rgba(255, 102, 0, 0.623) 30%, transparent), url('../../../assets/background/bg_four.jpeg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 60%;
  background-attachment: scroll;
  background-origin: border-box;
  background-clip: content-box;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.br {
  border-radius: 50px;
  padding: 0;
}
